// html {
//   direction: rtl;
// }
// body {
//   background-color: #dfe1e3;
// }
* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
.container {
  margin-top: 75px !important;
}
.box {
  border-radius: 15px;
  background: #FAF9F9;
}
